
body	{
		font-family:"arial","courier";
		}
	
a 	{
			text-decoration: none;
			color:grey;
	}

th 	{
			background-color: grey;
	}
	
tr	{
		text-align:center;
	}
	
ul 	{
			list-style-type: square;
	}
	
	/* start table fade */
#one	{
		background: #808080;
		}
	
#two	{
		background: #999999;
		}
	
#three	{
		background: #b3b3b3;
		}
	
#four	{
		background: #cccccc;
		}
			
#five	{
		background: #d9d9d9;
		}
	
#six	{
		background: #f2f2f2;
		}
